html, body, #root, .App {
  height: 100%;
  margin: 0px;
  /* display: block; */
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #574B60;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.title-container {
  height: 15%;
  display: block;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-style: dotted;
  margin-top: auto;
  background-color: #3F334D;
}

.title {
  margin: 0px auto;
  font-size: 30px;
}

.subtitle {
  margin: 0px auto;
  font-size: 20px;
}

.home {
  display: block;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.home button {
  width: 700px;
  margin-top: 100px;
  /* background-color: #6b7cff; */
  background-color: #C0C5C1;
  color: #7D8491;
  border-radius: 5px;
}


/* APP MOBILE  */
@media screen and (max-width: 420px) {
  .home {
    display: block;
  }

  svg {
    width: 100;
    height: 100;
  }
}